%ul
  %li
    = link_to "Visit Site", root_path
  %li
    = link_to "Admin", admin_home_path
  %li
    = link_to "Pages", admin_pages_path
  %li
    = link_to "New Page", new_page_path
  %li
    = link_to "Site Settings", edit_setting_path(@setting)
