!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{content: "#{@meta_description}", name: "description"}
    %meta{content: "#{@meta_keywords}", name: "keywords"}
  %body
    - if user_signed_in?
      #admin-top-menu
        = render "shared/admin_top_menu"
    #wrapper

      #header
        = render "shared/header"
      = render "shared/notices"
      .row
        #navbar
          = render "shared/navbar"
        #content
          = yield

      #footer
        = render "shared/footer"
